* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #383838;
}

main {
  background-color: lightgrey;
  width: 100%;
  border-radius: 5px;
  border-color: transparent;
  margin: 20px auto 20px auto;
  padding: 20px;
}

header {
  display: block;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
}

#title {
  font-size: 3.5rem;
  margin-bottom: 0;
}

#subtitle {
  font-size: 1.5rem;
}

#img-div {
  display: block;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  border-color: transparent;
  background-color: white;
  padding: 20px 20px 20px 20px;
}

#image {
  max-width: 100%;
  margin: auto;
  display: block; 
}

#img-caption {
  display: block; 
  font-size: 1.5rem;
  text-align: center;
  margin: auto;
  padding-top: 20px;
  line-height: 2.5rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin-top: 60px;
}

ul {
  margin: 60px auto 40px auto;
  max-width: 700px;

}

li {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 20px;
}

#comment {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 2rem;
  margin: auto;
  display: block;
  max-width: 700px;
  padding-left: 20px;
  padding-bottom: 35px;
}

#comment-name {
  display: block;
  margin-top: 1.5rem;
}

#tribute-div {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
